.menu{
    background-position: center;
    background-size: cover;
}

.contentt{
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.titlee{
    font-size: 30px; 
    font-weight: 700; 
    color: rgb(223, 226, 17);
}
.Margina{
    margin-top: 10px;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.nav-link{
    font-size: 20px;
    font-weight: 700;
}

.nav-link:hover{
    color:white ;
}