.typee{
    margin-left: 100px;
}

.icon{
    color: rgb(255, 255, 255);
    font-size: 1em;
    margin-left: 350px;
    
}
.iconn{
    margin-left: 30px;
}

.searchh{
    padding-left: 1300px;
}
.iconn:hover{
    color: rgb(176, 185, 175);
}
body{
    background-color: #e9edf4;
}
.card{
 background-color:#d9dfe9;
}