*{
    padding: 0; 
    margin: 0;
    font-family: sans-serif;
}

body{
    background-image:url(/img/Order\ page.avif);
}
.typee{
    margin-left: 100px;
}

.icon{
    color: rgb(255, 255, 255);
    font-size: 1em;
    margin-left: 350px;
    
}
.iconn{
    margin-left: 30px;
}


.iconn:hover{
    color: rgb(176, 185, 175);
}

.card{
 background-color:#d9dfe9;
}
.titlee{
    margin-bottom: 15px;
}