*{
    padding: 0; 
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}

.nav-link{
    color: rgb(255, 255, 255);
    opacity: 60%;
    margin-left: 20px;
}
.nav-link:hover{
color: white;
opacity: 100%;
}

.wrap{
display: flex;
justify-content: center;
align-items: center;
min-height: 50vh;
border-radius :25px; 
width: 45%;
background-color: #1b1d1eb8;
/* background-color: #212529 ; */
}

.wrap h1{
    font-size: 36px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.wrap .input-box{
height: 50px;
margin: 15px 0;
width: 100%;
}

.input-box input{
    width: 100%;
    border: none;
    outline: none;
    height: 100%;
    border-radius: 40px;
    padding: 20px;
    font-size: 16px;
}

.input-box input::placeholder{
    color: rgb(0, 0, 0);
}
.wrap .btn{
    width: 100%;
    height: 50%;
    border-radius: 15px;
    margin-top: 15px;
    background-color: #1b1d1e00;
    font-size: 20px;
}

.btn ::-ms-value{
width: 100%;
}