body{
font-family: 'Open Sans', sans-serif;
}

.navbar-brand{
font-size: 26px;
font-weight: 1000;
}
.nav-item{
font-size: 20px;
font-weight: 650;
}

.addres{
font-size: 30px;
font-weight: 1000;
}
.welcomed{
font-size: 18px;
font-weight: 600;
}
.About{

display: flex;
justify-content: center;
color:rgb(0, 0, 0);
margin-top: 50px;
font-size: 2.2em;
font-weight: 800;
margin-bottom: 30px;
    
}
.content{
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}

.cards{
color:antiquewhite;
background-color: rgb(94, 108, 112);
width: 21.25em;
box-shadow: 0 5px 25px ;
border-radius: 10px;
padding: 25px;
margin: 15px;
transition: 0.7s ease;
}
.icon{
color: rgb(0, 0, 0);
font-size: 6em;
text-align: center;
}

.headerr{
    justify-content: space-between;
}

.iconn {
color: #fff;
text-decoration: none;
}

.iconn{
position: absolute;
color:white;
background-color: rgba(0, 0, 0, 0.281);
font-size: 16px;
font-weight: 400 ;
display: inline-block;
padding: 15px;
letter-spacing: 1px;
border-radius: 15px;
transition: 0.7s ease;
}

.iconn:hover{
background-color: rgb(0, 0, 0);
transform:scale(1.1);
}

.info{
    padding: 30px;
    margin-top: 100px;
}
.pp{
    text-decoration: none;
    color: black;
}
.pp:hover{
color: rgb(216, 208, 208);
}
.photo
{
    padding: 100px;
    margin-top: 100px;
    border-radius: 10px;
    background-image: url(/img/MEal.png);
}

.menu{
    margin-top: 80px;
    background-color: aquamarine;
}
.namee{
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}
.ppp{
    margin-left: 158px;
}
.card-body{
    border-radius: 10px;
    box-shadow: black;
}

/* انا عملت من اول هنا */
.collapse .navbar-nav .nav-item{
    position: relative;
}
.collapse .navbar-nav .nav-item:first-child{
    margin-right: 10px;
}
.collapse .navbar-nav .nav-item .active::after{
content: "";
background-color: #ffc107;
width: 100%;
height: 4px;
position: absolute;
left: 0;
bottom: -10px;
transition: 0.5s;
 
    
    
}
.collapse .navbar-nav .nav-item .nav-link::before {
content: "";
background-color: #ffc107;
width: 0%;
height: 4px;
position: absolute;
left: 0;
bottom: -10px;
} 
.collapse .navbar-nav .nav-item .nav-link:hover::before , .collapse .navbar-nav .nav-item .nav-link:hover{
width: 100%;
transition: 1s;
opacity: 100%;
}
