body{
font-family: 'Open Sans', sans-serif;
background-color: rgb(238, 227, 227)55;
}

.navbar-brand{
font-size: 26px;
font-weight: 1000;
}
.nav-item{
font-size: 20px;
font-weight: 650;
}

.addres{
font-size: 30px;
font-weight: 1000;
}
.welcomed{
font-size: 18px;
font-weight: 600;
}
.About{

display: flex;
justify-content: center;
color:rgb(0, 0, 0);
margin-top: 50px;
font-size: 2.2em;
font-weight: 800;
margin-bottom: 30px;
    
}
.content{
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}

.cards{
color:antiquewhite;
background-color: rgb(94, 108, 112);
width: 21.25em;
box-shadow: 0 5px 25px ;
border-radius: 10px;
padding: 25px;
margin: 15px;
transition: 0.7s ease;
}
.icon{
color: rgb(0, 0, 0);
font-size: 6em;
text-align: center;
}
